.image-gallery-border {
border: 1px ridge;
border-color: rgb(186, 189, 182);
}
.center-fit {
     max-width: 100%;
     max-height: 80vh;
     margin: auto;
}

/* #gallery {
	border: 1px solid #c8c8c8;
	background: #ffffff;
	color: #333333;
	padding: 0.05rem 0.05rem;
} */

/* Regel für Gallery */
body .card .ui-panelgrid .ui-panelgrid-cell {
	border: 1px solid #c8c8c8;
	background: #ffffff;
	color: #333333;
	padding: 0.05rem 0.05rem;
}

/*Gallery */
.gallery {
  object-fit: cover;
  overflow: hidden;
  width: 200px; 
  min-height: 200px;
  max-height: 200px;
  margin: 2px;
}

.center {
    text-align: center;
}

.left {
	text-align: left;
}

.container {
	margin-left: 15px;
	margin-right: 15px;
}

.content-inline {
	display: block-inline;
}

.menuitem {
	font-size: 1.5em;
}


h1 {
	padding-left: 10px;
}
#panel-contacts {
	padding-left: 10px;
}
#h1-about {
	padding-left: 30px;
}